<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>

  <style>
      td {
          font-size: 24px;
      }

      .invoice-box {
          max-width: 800px;
          margin: auto;
          padding: 30px;
          border: 1px solid #eee;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          font-size: 16px;
          line-height: 24px;
          font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
          color: #555;
      }

      .invoice-box table {
          width: 100%;
          line-height: inherit;
          text-align: left;
      }

      .invoice-box table td {
          padding: 5px;
          vertical-align: top;
      }

      .invoice-box table tr td:nth-child(2) {
          text-align: right;
      }

      .invoice-box table tr.top table td {
          padding-bottom: 20px;
      }

      .invoice-box table tr.top table td.title {
          font-size: 45px;
          line-height: 45px;
          color: #333;
      }

      .invoice-box table tr.information table td {
          padding-bottom: 40px;
      }

      .invoice-box table tr.heading td {
          background: #eee;
          border-bottom: 1px solid #ddd;
          font-weight: bold;
      }

      .invoice-box table tr.details td {
          padding-bottom: 20px;
      }

      .invoice-box table tr.item td {
          border-bottom: 1px solid #eee;
      }

      .invoice-box table tr.item.last td {
          border-bottom: none;
      }

      .invoice-box table tr.total td:nth-child(2) {
          border-top: 2px solid #eee;
          font-weight: bold;
      }

      @media only screen and (max-width: 600px) {
          .invoice-box table tr.top table td {
              width: 100%;
              display: block;
              text-align: center;
          }

          .invoice-box table tr.information table td {
              width: 100%;
              display: block;
              text-align: center;
          }
      }

      /** RTL **/
      .invoice-box.rtl {
          direction: rtl;
          font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      }

      .invoice-box.rtl table {
          text-align: right;
      }

      .invoice-box.rtl table tr td:nth-child(2) {
          text-align: left;
      }
  </style>
</head>

<body>
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
<!--              <img src="#" style="width: 100%; max-width: 300px" />-->
            </td>

            <td>
              Factura #: <%= @subscription.id %><br />
              Fecha: <%= @subscription.created_at.strftime('%d/%m/%Y') %><br />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              GYM FUERZA Y SALUD<br />
              Calle 30 #23-34 Girón<br />
              6465189
            </td>

            <td>
              <%= @subscription.customer.name %><br />
              <%= @subscription.customer.created_at.strftime('%d/%m/%Y') %><br />
              <%= @subscription.customer.email %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Suscripción</td>

      <td>Detalle</td>
    </tr>

    <tr class="details">
      <td>Plan</td>

      <td><%= @subscription.plan.name %></td>
    </tr>

    <tr class="details">
      <td>Fecha de inicio</td>

      <td><%= @subscription.start.strftime('%d/%m/%Y') %></td>
    </tr>

    <tr class="details">
      <td>Fecha de fin</td>

      <td><%= @subscription.end.strftime('%d/%m/%Y') %></td>
    </tr>

    <tr class="heading">
      <td>Plan</td>

      <td>Precio</td>
    </tr>

    <tr class="item last">
      <td><%= @subscription.plan.name %></td>

      <td>$<%= @subscription.plan.price %></td>
    </tr>

    <tr class="total">
      <td></td>

      <td>Total: $<%= @subscription.plan.price %></td>
    </tr>
  </table>
</div>
</body>
</html>